version: '3.8'

services:
  cloudops-cli:
    build:
      context: .  # Usa el Dockerfile en el directorio actual
    container_name: cloudops-cli
    volumes:
      - ./workspace:/workspace  # Montar el directorio local en el contenedor
      - /var/run/docker.sock:/var/run/docker.sock   # Permite al contenedor usar el daemon del host
      - ~/.docker:/root/.docker                     # Compartir credenciales con el host
    stdin_open: true  # Mantener el contenedor abierto
    tty: true  # Mantener la terminal interactiva
    command: bash  # Arrancar un bash por defecto
